doctype html
html(lang="ru")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="css/index.css")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.2/nouislider.min.css" rel="stylesheet")

  

  title
    block title

  body.layout
   
   header.layout__header
      .container
       block beforeWorkarea

   main.layout__main
      .container
       block workarea
        aside.layout__sidebar.border



   footer.layout__footer
      block afterWorkarea
    


   script(src="js/index.js") 
   script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.2/nouislider.min.js") 


   script(src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js") 
   script.
    document.addEventListener('DOMContentLoaded', function () {
        var priceSlider = document.getElementById('price-slider');
        var thcSlider = document.getElementById('thc-slider');
        var cbdSlider = document.getElementById('cbd-slider');
        noUiSlider.create(priceSlider, {
          start: [0, 234],
          connect: true,
          range: {
              min: 0,
              max: 999,
          },
          tooltips: [false, wNumb({ decimals: 0, suffix: ' $' })]
        });
        var priceSliderValues = [
         document.getElementById('price-slider-value-lower'),
         document.getElementById('price-slider-value-upper')
      ];
        priceSlider.noUiSlider.on('update', function (values, handle) {
        priceSliderValues[handle].innerHTML = `${Math.round(values[handle])} $`;

        });

          noUiSlider.create(thcSlider, {
          start: [0, 14],
          connect: true,
          range: {
              min: 0,
              max: 99,
          },
          tooltips: [false, wNumb({ decimals: 0, suffix: ' %' })]
        });
            var thcSliderValues = [
            document.getElementById('thc-slider-value-lower'),
             document.getElementById('thc-slider-value-upper')
             ];
            thcSlider.noUiSlider.on('update', function (values, handle) {
        thcSliderValues[handle].innerHTML = `${Math.round(values[handle])} %`;

        });

          noUiSlider.create(cbdSlider, {
          start: [0, 34],
          connect: true,
          range: {
              min: 0,
              max: 99,
          },
          tooltips: [false, wNumb({ decimals: 0, suffix: ' %' })]
        });
            var cbdSliderValues = [
            document.getElementById('cbd-slider-value-lower'),
             document.getElementById('cbd-slider-value-upper')
             ];
            cbdSlider.noUiSlider.on('update', function (values, handle) {
        cbdSliderValues[handle].innerHTML = `${Math.round(values[handle])} %`;

        });




      });


        
