$black: #000;
$white: #ffffff;

$backgound: #171722;
$dark: #212129;
$dark2: #30303d;

$gray: #959595;
$gray2: #353542;

$light-green: #7acb22;
$green: #297019;

$green2: #58aa46e5;

$green3: #84d52c;
